{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My to do list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .categorie {
            font-size: large;
        }

        .colCategorie {
            background-color: #383e41;
            height: 80vh;
            border-radius: 5px;
        }

        label {
            color: white !important;
        }
    </style>
</head>

<body class='container bg-dark'>
    <div class="m-5 mt-5 border-light">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} me-5">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <h4 class="text-light">1000<span class="text-success">TechLeaders</span></h4>
            <div class="col-2 colCategorie">
                <button class="form-control fw-bold my-3" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">+
                    Ajouter</button>
                <a href="{% url "index" %}" class="text-decoration-none bg-dark fw-bold text-white">
                    <div class="row d-flex categorie py-2 align-item-between">
                        <div class="col-7 text-start">Tout</div>
                        <div class="col-5 text-end">{{ categories.count }}</div>
                    </div>
                </a>
                {% for categorie in categories %}
                <a href="{% url "task_categorie" categorie.pk %}" class="text-decoration-none bg-dark fw-bold text-white">
                    <div class="row d-flex categorie py-2 align-item-between">
                        <div class="col-7 text-start">{{ categorie.name|title }}</div>
                        <div class="col-5 text-end">{{ categorie.task_set.count }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="col-9 ms-3 colCategorie">
                <div class="row mt-2 justify-content-between d-flex">
                    <div class="col-9"><h2 class="text-light">Bonjour, Ibrahima</h2></div>
                    <div class="col  d-flex align-items-end">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type='submit' class="btn btn-outline-light">Se deconnecter</button>
                        </form>
                        
                    </div>
                </div>
                
                <h4 class="text-light">Aujourd'hui c'est : {{ today|date:'l d F Y' }}</h4>

                <div class="row container d-flex align-items-center my-2">
                    <div class="row d-flex align-items-end mb-3 justify-content-end">
                        <form method="get" class="row">
                            <div class="col-3">
                                <select name="priority" class="form-select btn-outline-dark" onchange="this.form.submit()">
                                    <option value="">Filtrer par priorite</option>
                                    <option value="basse" {% if request.GET.priority == 'basse' %}selected{% endif %}>Basse</option>
                                    <option value="moyenne" {% if request.GET.priority == 'moyenne' %}selected{% endif %}>Moyenne</option>
                                    <option value="haute" {% if request.GET.priority == 'haute' %}selected{% endif %}>Haute</option>
                                    <option value="maximale" {% if request.GET.priority == 'maximale' %}selected{% endif %}>Maximale</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select name="date" class="form-select btn-outline-dark" onchange="this.form.submit()">
                                    <option value="">Filtrer par moment</option>
                                    <option value="today" {% if request.GET.date == 'today' %}selected{% endif %}>Aujourd'hui</option>
                                    <option value="futur" {% if request.GET.date == 'futur' %}selected{% endif %}>À venir</option>
                                    <option value="passe" {% if request.GET.date == 'passe' %}selected{% endif %}>Passé</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select name="status" class="form-select btn-outline-dark" onchange="this.form.submit()">
                                    <option value="">Filtrer par status</option>
                                    <option value="termine" {% if request.GET.status == 'termine' %}selected{% endif %}>Terminé</option>
                                    <option value="nontermine" {% if request.GET.status == 'nontermine' %}selected{% endif %}>Non Terminé</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <ul class="list-group">
                        {% for task in tasks %}
                        <li class="list-group-item d-flex text-light bg-dark justify-content-between align-items-center">
                            <div class="text-start">
                                <input type="checkbox" {% if task.status %} checked {% endif %} disabled>
                                {{ task.title }} <small class="text-secondary">({{ task.categorie.name }})</small>
                            </div>
                            {{ task.description }}
                            <span class="text-muted">{{ task.start_date|date:"H:i" }}-{{ task.end_date|date:"H:i" }}
                                {% if not task.status %}
                                <form action="{% url "acheve_task" task.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn border-secondary btn-outline-dark text-white">Achevé</button>
                                </form>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#addTask">Ajouter une tâche</button>
            </div>
        </div>
    </div>

    {% comment %} modal pour ajouter une categorie {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content container bg-dark">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Ajouter une categorie</h1>
                <form action="{% url 'addCategory' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="name" class="form-label text-light">Nom de la categorie:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Enregistrer</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                </form>
            </div>
        </div>
    </div>

    {% comment %} modal pour ajouter une tâche {% endcomment %}
    <div class="modal fade" id="addTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Ajouter une tâche</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'addTask' %}" method="post">
                        {% csrf_token %}
                        {{ formTask.as_p }}
                        <button type="submit" class="btn btn-outline-light">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
